<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h4>Welcome to Trustlines Docs</h4>
        <h1>Enabling financial inclusion by trust & technology</h1>
      </header>
      <p>Here you can find all the non-technical documentation about Trustlines as well as user focused documentation.</p>
      <ul class="actions">
      </ul>
    </div>
    <span class="image object">
      <img src="/assets/images/identity_element.svg" alt="Trustlines Network" />
    </span>
  </section>
