<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>Welcome to<br />
        Trustlines Docs</h1>
      <p>Enabling financial inclusion by technology & trust</p>
    </header>
    <p>Here you can find all the non-technical documentation about Trustlines as well as user focused documentation.</p>
    <ul class="actions">
    </ul>
  </div>
  <span class="image object">
    <img src="/assets/images/brand/Network/PNG/trustlines-network-logo-red.png" alt="Trustlines Network" />
  </span>
</section>
