<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">

    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="{{ '' | absolute_url }}">Home</a></li>
        <ul class="nav">
          <li><a href="#">Guides</a>
            <ul>
              <li><a href="#">Communications Guide</a>
                <ul>
                  <li><a href="{{ 'docs/resources/community_communications_guide.html' | absolute_url}}">Table of Contents</a></li>
                  <li><a href="{{ 'docs/resources/community_communications_guide.html#1-general-information-1' | absolute_url}}">General information</a></li>
                  <li><a href="{{ 'docs/resources/community_communications_guide.html#2-resources-1' | absolute_url}}">Resources</a></li>
                  <li><a href="{{ 'docs/resources/community_communications_guide.html#3-arranging-an-event-1' | absolute_url}}">Arranging an event</a></li>
                  <li><a href="{{ 'docs/resources/community_communications_guide.html#4-use-cases-of-the-trustlines-protocol-1' | absolute_url}}">Use cases of the Trustlines Protocol</a></li>
                  <li><a href="{{ 'docs/resources/community_communications_guide.html#5-trademarks-and-licensing-1' | absolute_url}}">Trademarks and licensing</a></li>
                  <li><a href="{{ 'docs/resources/community_communications_guide.html#6-communication-and-trustlines-network-channels-1' | absolute_url}}">Official communication channels</a></li>
                </ul>
              </li>
              <li><a href="{{ 'docs/guides/tl_app_user_guide.html' | absolute_url }}">User guide for Trustlines App</a></li>
              <li><a href="{{ 'docs/guides/how_to_withdraw_validator_deposit.html' | absolute_url }}">How to withdraw your validator deposit</a></li>
              <li><a href="{{ 'docs/guides/how_to_claim_tln.html' | absolute_url }}">How to claim TLN from the Merkle Drop</a></li>
            </ul>
          </li>
          <li><a href="#">Brand</a>
            <ul>
              <li><a href="{{ 'docs/brand/brand_guidelines.html' | absolute_url }}">Brand Guidelines</a></li>
              <li><a href="{{ 'docs/brand/brand_resources.html' | absolute_url }}">Brand Resources</a></li>
            </ul>
          </li>
          <li><a href="#">Community</a>
            <ul>
              <li><a href="{{ 'docs/resources/glossary.html' | absolute_url}}">Glossary</a></li>
              <li><a href="{{ 'docs/resources/presentations/presentation_slides.html' | absolute_url}}">Presentations</a></li>
              </ul>
          </li>
          <li><a href="#">Legal</a>
            <ul>
              <li><a href="{{ 'docs/foundation/trademarks.html' | absolute_url }}">Trustlines Trademark Guidelines</a></li>
            </ul>
          </li>
        </ul>
        <li><a href="https://dev.trustlines.network/" class="external_menu" target="_blank">Trustlines Developer Docs <i class="fa fa-external-link"></i></a></li>
      </ul>
    </nav>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>If you need help or just want to chat with other community members, join <a href="{{ 'docs/resources/community_communications_guide.html#6-communication-and-trustlines-network-channels-1' | absolute_url}}"> our community channels</a>.</p>
      <ul class="contact">
        <li><img class="side_icon" src="{{ 'assets/images/twitter.svg' | absolute_url }}" /><a href="https://twitter.com/TrustlinesFound" target="_blank">Trustlines Foundation on Twitter</a></li>
        <li><img class="side_icon" src="{{ 'assets/images/ghost.png' | absolute_url }}" /><a href="https://blog.trustlines.network/" target="_blank">Trustlines Blog</a></li>
        <li><img class="side_icon" src="{{ 'assets/images/discourse.svg' | absolute_url }}" /><a href="https://forum.trustlines.network/" target="_blank">Trustlines Forum</a></li>
        <li><img class="side_icon" src="{{ 'assets/images/telegram.svg' | absolute_url }}" /><a href="https://t.me/trustlines_network" target="_blank">Trustlines Network Telegram</a></li>
      </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright_link"><a href="https://trustlines.network/legal-imprint-privacy-policy.html">Legal Imprint & Privacy Policy</a></p>
      <p class="copyright">TRUSTLINES®, TRUSTLINES NETWORK® AND THE TRUSTLINES UNICORN LOGO ARE TRADEMARKS OR REGISTERED TRADEMARKS OF TRUSTLINES FOUNDATION, IN THE EU AND / OR OTHER COUNTRIES.</p>
    </footer>

  </div>
</div>
