@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff?v=3.13") format("woff");
}

:root {
  --white: #fbfbfb;
	--white-alt: #ededed;
	--black: #12121F;
	--orange: #FF7C4E;
	--purple: #7657ED;
	--green: #09E0A3;
	--yellow: #FFD41E;
  --blue: #82aaff;
	--grey: rgba(210,215,217,0.75);
	--grey-alt: transparentize(#bdbdbd, 0.75);
}

// Syntax highlighting

.highlight .hll {
  background: #282c34
}

.highlight .c {
  color: #828282;
  font-style: italic
}

.highlight .err {
  color: #960050;
  background-color: #1e0010
}

.highlight .k {
  color: _palette(purple)
}

.highlight .l {
  color: _palette(green)
}

.highlight .n {
  color: _palette(grey)
}

.highlight .o {
  color: _palette(grey)
}

.highlight .p {
  color: _palette(grey)
}

.highlight .cm {
  color: #5c6370;
  font-style: italic
}

.highlight .cp {
  color: #5c6370;
  font-style: italic
}

.highlight .c1 {
  color: #828282;
  font-style: italic
}

.highlight .cs {
  color: #5c6370;
  font-style: italic
}

.highlight .ge {
  font-style: italic
}

.highlight .gs {
  font-weight: 600
}

.highlight .kc {
  color: _palette(purple)
}

.highlight .kd {
  color: _palette(purple)
}

.highlight .kn {
  color: _palette(purple)
}

.highlight .kp {
  color: _palette(purple)
}

.highlight .kr {
  color: _palette(purple)
}

.highlight .kt {
  color: _palette(purple)
}

.highlight .ld {
  color: _palette(green)
}

.highlight .m {
  color: _palette(yellow)
}

.highlight .s {
  color: _palette(green)
}

.highlight .na {
  color: _palette(yellow)
}

.highlight .nb {
  color: _palette(orange)
}

.highlight .nc {
  color: _palette(orange)
}

.highlight .no {
  color: _palette(orange)
}

.highlight .nd {
  color: _palette(orange)
}

.highlight .ni {
  color: _palette(orange)
}

.highlight .ne {
  color: _palette(orange)
}

.highlight .nf {
  color: #73BEE1
}

.highlight .nl {
  color: _palette(orange)
}

.highlight .nn {
  color: _palette(grey)
}

.highlight .nx {
  color: _palette(white)
}

.highlight .py {
  color: _palette(orange)
}

.highlight .nt {
  color: #e06c75
}

.highlight .nv {
  color: _palette(orange)
}

.highlight .ow {
  font-weight: 600
}

.highlight .w {
  color: #f8f8f2
}

.highlight .mf {
  color: _palette(yellow)
}

.highlight .mh {
  color: _palette(yellow)
}

.highlight .mi {
  color: _palette(yellow)
}

.highlight .mo {
  color: _palette(yellow)
}

.highlight .sb {
  color: _palette(green)
}

.highlight .sc {
  color: _palette(green)
}

.highlight .sd {
  color: _palette(green)
}

.highlight .s2 {
  color: _palette(green)
}

.highlight .se {
  color: _palette(green)
}

.highlight .sh {
  color: _palette(green)
}

.highlight .si {
  color: _palette(green)
}

.highlight .sx {
  color: _palette(green)
}

.highlight .sr {
  color: #56b6c2
}

.highlight .s1 {
  color: _palette(green)
}

.highlight .ss {
  color: #56b6c2
}

.highlight .bp {
  color: _palette(orange)
}

.highlight .vc {
  color: _palette(orange)
}

.highlight .vg {
  color: _palette(orange)
}

.highlight .vi {
  color: #e06c75
}

.highlight .il {
  color: _palette(yellow)
}

.highlight .gu {
  color: #75715e
}

.highlight .gd {
  color: #f92672
}

.highlight .gi {
  color: #a6e22e
}

body, input, select, textarea {
    color: var(--black);
    font-family: "Inter",sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.6;
