{% extends "base.html" %}

{% block site_meta %}
    <meta name="google-site-verification" content="HL3TOtDXbLI7elMpxJckrsQT6bhamDiefyPzH-tZLuk" />
    <meta name="msvalidate.01" content="461226232A0CE4B34E124EE5F4510557" />
{% endblock site_meta %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/css/lightgallery.min.css">
{% endblock styles %}

{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/js/lightgallery.min.js"></script>
{% endblock libs %}

{% block scripts %}
    {{ super() }}
    <script>
    var elements = document.getElementsByClassName("lightgallery");
    for(var i=0; i<elements.length; i++) {
       lightGallery(elements[i]);
    }
    </script>
{% endblock scripts %}
